<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>소원</key>
	<string>로또당첨</string>
	<key>직업</key>
	<string>QA</string>
	<key>성별</key>
	<string>남</string>
	<key>결혼유무</key>
	<string>NO</string>
	<key>국적</key>
	<array>
		<string>한국</string>
		<string>일본</string>
	</array>
	<key>나이</key>
	<integer>33</integer>
	<key>이름</key>
	<string>김병욱</string>
</dict>
</plist>
